<div class="col-12 p-0 m-0">

    <h2 class="text-muted">Paineis</h2>

    <div *ngIf="equipes.length > 0">
        <div *ngFor="let equipe of equipes">
            <label class="lead">{{equipe.nome}}</label>
            <div class="row border-top pt-3" *ngIf="equipe.paineis!.length > 0">
                <div class="col-3" *ngFor="let painel of equipe.paineis">
                    <div class="card card-body" (click)="abrirPainel(painel.id!)">
                        <h4 class="lead car-title">{{painel.titulo}}</h4>
                        <div>
                            <span class="text-sm"><i class="fa fa-pencil"></i></span>
                        </div>
                        <!-- <p class="card-text">{{painel.descricao}}</p> -->
                    </div>
                </div>

                <div class="col-3">
                    <div
                        class="card card-body bg-transparent" 
                        (click)="addPainel(equipe.id!)"
                        style="border: 2px dashed rgb(108, 117, 125, 0.5)"
                    >
                        <h4 class="lead card-title text-muted text-center opacity-25">
                            <i class="fa fa-plus" style="font-size: 50px;"></i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>