<mat-toolbar color="primary">
    <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <span>Task Master</span>

    <span class="spacer"></span>
    <a mat-icon-button matTooltip="Pessoas" routerLink="/pessoas">
        <mat-icon>supervisor_account</mat-icon>
    </a>

    <a mat-icon-button class="icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </a>
    <button mat-icon-button (click)="deslogar()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>


<mat-card-content>
    <router-outlet></router-outlet>
</mat-card-content>