<div class="sidebar" data-color="black" data-active-color="danger">
    <div class="logo">
        <!-- <a roputerLink="/" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="./assets/img/logo-h.png">
        </div>
      </a> -->
        <a roputerLink="/" class="simple-text logo-normal">
            <div class="logo-image-big">
                <img src="../assets/img/logo-h.png">
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a routerLink="/"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a>
            </li>

            <li>
                <a routerLink="/paineis"><i class="nc-icon nc-layout-11"></i><span>Paineis</span></a>
            </li>
            <li>
                <a routerLink="/equipes"><i class="nc-icon nc-tile-56"></i> <span>Equipes</span></a>
            </li>
            <li>
                <a href="/usuarios"><i class="nc-icon nc-share-66"></i> <span>Usuarios</span></a>
            </li>

            <li>
                <a href="/clientes"><i class="nc-icon "></i> <span>Clientes</span></a>
            </li>
            <li>
                <a href="/configuracoes"><i class="nc-icon nc-settings-gear-65"></i> <span>Configurações</span></a>
            </li>
        </ul>
    </div>
</div>