<div class="container">
  <div class="card-login">
    <div class="card card-body">


      <h3 class="card-title">Login</h3>
      <form [formGroup]="formLogin" novalidate>
        <div class="conteudo-login">
          <div class="form-group mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Ex. perukas@example.com">
            <small class="text-danger"
              *ngIf="formLogin.get('email')?.errors?.['email'] && formLogin.get('email')?.touched">
              Por favor informe um email válido
            </small>
            <small class="text-danger"
              *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched">
              Email é <strong>obrigatório</strong>
            </small>
          </div>
          <div class="form-group mb-3">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="password">
            <small class="text-danger"
              *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched">Senha é
              <strong>obrigatória</strong>
            </small>
          </div>
        </div>
        <div class="text-end">
          <button class="btn btn-primary" (click)="logar()">Entrar</button>
        </div>

      </form>
    </div>
  </div>
</div>