<div class="col-12" *ngIf="painel">

    <h2 class="text-muted">{{painel.titulo}}</h2>

    <div class="d-flex overflow-auto">

        <div class="col-sm-4 text-white m-1 p-1 rounded bg-dark" *ngFor="let categoria of painel.categorias">
            <div class="card-title text-center py-2">
                <small class=""><b>{{categoria.nome}}</b></small>
            </div>

            <div class="col-painel">
                <div id="taskCol{{categoria.id}}" *ngFor="let task of categoria.tasks">
                    <div class="card card-body bg-transparent">
                        <h5 class="">
                            {{task.titulo}}
                        </h5>
                    </div>
                </div>

                <div class="card card-body py-1 text-center">
                    <span class="text-dark" (click)="novaTask(painel.id!, categoria.id!)"><i class="fa fa-plus"></i>
                        nova task</span>
                </div>
            </div>
        </div>

        <div class="col-3 m-1 p-1 rounded bg-transparent">
            <div class="card card-body"
            (click)="addCat(painel.id!)"
            style="border: 2px dashed rgb(108, 117, 125, 0.5)">
                <h2 class="text-center py-2 text-muted "><i class="fa fa-plus"></i></h2>
            </div>
        </div>
    </div>
</div>