<div class="col-12" *ngIf="painel">

    <h2 class="text-muted">{{painel.titulo}}</h2>

    <div class="row" *ngIf="painel.categorias.length > 0">
        <div 
            class="col-sm-3 border p-2 rounded bg-dark text-white"
            *ngFor="let categoria of painel.categorias"
        >
            <div class="title text-center py-2">
                <small class="px-2"><b>{{categoria.nome}}</b></small>
            </div>

            <div id="taskCol{{categoria.id}}">
                <div *ngFor="let task of categoria.taks" class="py-2">
                    <div class="card card-body ">    
                        <label class="text-muted">
                            {{task.titulo}}
                        </label>    
                    </div>
                </div>            
            </div>

            <div class="card card-body py-1 text-center" >                
                <label class="text-dark" (click)="novaTask(painel.id!, categoria.id!)"><i class="fa fa-plus"></i> nova task</label>
            </div>
        </div>
    </div>
</div>